.App {
    display: grid;
    place-items: center;
    height: 100%;
}
.display {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color:rgb(169, 206, 228);
   padding: 10px;
   border-radius: 5px;
   margin-bottom: 20px;
}

input {
   width: 200px;
   height: 20px;
   font-size: 1.2rem;
   margin-bottom: 5px;
   padding: 5px;
   border: 1px solid #b61d1d;
   
}

.result {
   font-size: 1.5rem;
   font-weight: bold;
}

.buttons {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
   
}